<style>
    body {
    padding-top: 70px;
}
.navbar-custom {
    background-color: #383838;
}
.navbar-title {
    flex-grow: 0;
    text-align: center;
}
.nav-item.active {
    background-color: #cecece;
    border-radius: 12px;
}
.nav-item:hover {
    background-color: #c9c0ffb0;
    border-radius: 12px;
}
</style>

<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container">
        <div class="navbar-title">
            <h1 class="text-white">The Stable</h1>
        </div>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="accountDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </button>
            <div class="dropdown-menu" aria-labelledby="accountDropdown">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <form action="/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>
    </div>
</nav>

